p{
    font-weight: 900; 
    font-family: 'Dancing Script', cursive;
}
h1 {font-style: italic;
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
p {font-family: sans-serif;}
/* almendra-regular - latin */
@font-face {
    font-family: 'Almendra';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/almendra-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/almendra-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/almendra-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/almendra-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/almendra-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/almendra-v15-latin-regular.svg#Almendra') format('svg'); /* Legacy iOS */
  }
  p.fuente-almendra {
      font-family: 'Almendra', sans-serif;
  }
  p.fuente-almendra-2 {
      color: green;
      font-size: 100px;
      font-family: 'Almendra', sans-serif;
      text-align: center;
  }