
h1 {
    text-align: center;
}
p {
    font-size: 1.5em;
    text-align: justify;
}
.espacio-letras {
    text-indent: 2em;
    letter-spacing: 0.05em;
}
.espacio-palabras {
    word-spacing: 0.2em;
    text-indent: 2em;
}
.espacio-lineas {
    line-height: 1.3em;
    text-indent: 2em;
}
.inicio {
    font-size: 2em;
    line-height: 0.5em;
}