* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #17272c;
}
nav {
    background-color: #17465a;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: .3px 1px 5px rgba(255, 255, 255, 0.322);
    cursor: pointer;
}
ul.menu {
    font-size: 1.5em; 
    font-family: 'Roboto', italic; 
    list-style-type: none;
    padding: none;
    text-align: center;
}
li.submenu {
    padding: 15px;
    display: inline-block;
    transition: all .5s;
    position: relative;
}
li.submenu:hover {
    background-color: #10313d;
}
a{
    text-decoration: none;
    color: #f1f1f2eb;
    display: block;
}
a:hover {
    color: #fff;
    transition: all .5s;
}
.contenido-principal {
    margin: 3em;
    color: #f1f1f2a1;
    padding-top: 3%;
}
h1.titulo-principal-index {
    font-size: 35px;
    padding: 2% 0% 0% 0%;
    font-weight: 900;
}
h2.segundario-index {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h2.segundario-index-2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
}